@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .card-back-h,
  .card-back-v,
  .card-front {
    backface-visibility: hidden;
    min-width: 100%;
  }

  .card-back-h {
    transform: rotate3d(0, 1, 0, -180deg) translate(100%, 0);
  }

  .card-back-v {
    transform: rotate3d(1, 0, 0, -180deg) translate(-100%, 0);
  }

  .flip-h {
    transform: rotate3d(0, 1, 0, -180deg);
  }

  .flip-v {
    transform: rotate3d(1, 0, 0, -180deg);
  }

  .introduction > p:not(:last-child) {
    padding-bottom: 4px;
  }
}

html,
body {
  height: 100%;
}
